

.signupBox{
    display: grid;

    justify-content: center;
    align-items: center;
    text-align: center;

}
/* Form Container Styles */
.signform-container {
    max-width: 400px;
    width: 100%;
    background-color:grey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000; /* Border color */
    box-sizing: border-box;
    margin-bottom: 2rem;
}

/* Form Elements */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #333333; /* Border color */
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #2979bd;
}

p {
    font-size: 16px;
    margin-top: 20%;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
